{% extends 'appmustafa/base.html' %}
{% block titulo %}
    LISTADO ANIMALES
{% endblock titulo %}
    
{% block contenido %}
<ul class="list-group">
{% for comentario in comentarios %}
<li class="list-group-item " aria-current="true"><a class="btn btn-primary" href="{% url 'editarComentarios' pk=comentario.pk  %}">{{comentario.contenido}}</a>&#9;<a class="btn btn-danger" href="{% url 'borrarComentarios' pk=comentario.pk  %}">Borrar</a></li></li>
{% endfor %}
<ul>
<a class="btn btn-warning" href="{%url 'usuario' %}">VOLVER</a>
{% endblock contenido %}