{% extends 'appmustafa/base.html' %}
{% load static %}
{% block estilo %} <link rel="stylesheet" href="{% static 'css/principal.css' %}" />{% endblock estilo %}
{% block titulo %}Inicio{% endblock titulo %}
{% block contenido %}

<h1 style="text-align: center;">Últimos gatos rescatados</h1>
<div class="container mt-5">
    <div class="row">
        {% for animal in animales %}
        <div class="col-md-3">
            <a href="{% url 'detalleAnimales' animal.id %}" class="card text-decoration-none">
                <img src="{{ animal.imagen.url }}" class="card-img-top" alt="Gato">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ animal.nombre }}</h5> 
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<h1 style="text-align: center;">Últimas noticias</h1>
<div class="container mt-5">
    <div class="row">
        {% for noticia in noticias %}
        <div class="col-md-4">
            <a href="{% url 'detalleNoticias' noticia.id %}" class="card text-decoration-none">
                <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="Noticia {{ noticia.id }}">
                <div class="card-body">
                    <h5 class="card-title">{{ noticia.titulo }}</h5> 
                    <p class="card-text">{{ noticia.contenido|slice:":100" }}...</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock contenido %}
